.vpalab_ip_line_city_name{
	cursor: pointer;
	border-bottom: 1px dashed #522d01;
	color: #522d01;
}

.vpalab_ip_line_default-box .vpalab_ip_line_city_change_box {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
}

.vpalab_ip_line_default-box * {
	box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-khtml-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	fon-size: 14px;
}

.vpalab_ip_line_default-box .vpalab_ip_line_city_change_box .bg_box {
	position: fixed;
	display: none;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
	z-index: 10000;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.8);
	opacity: 0;
	transition: opacity 2s easy, background 2s easy;
	-o-transition: opacity 2s easy, background 2s easy;
	-ms-transition: opacity 2s easy, background 2s easy;
	-moz-transition: opacity 2s easy, background 2s easy;
	-khtml-transition: opacity 2s easy, background 2s easy;
	-webkit-transition: opacity 2s easy, background 2s easy;
}


.vpalab_ip_line_default-box .vpalab_ip_line_city_change_box .main_box {
	position: fixed;
	z-index: 10001;
	top: 10%;
	left: 45%;
	margin-left: -200px;
	width: 520px;
	background: #FFF;
	padding: 15px;
	-o-border-radius: 3px;
	-ms-border-radius: 3px;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	opacity: 0;
	display: none;
}



.vpalab_ip_line_default-box .vpalab_ip_line_city_change_box .main_box .btn_close {
	position: absolute;
	top: 3px;
	height: 30px;
	right: 7px;
	color: #888585;
	color: #83B667;
	cursor: pointer;
	display: block;
	line-height: 30px;
	font-weight: normal;
	font-size: 30px;
}



.vpalab_ip_line_default-box .vpalab_ip_line_city_change_box .main_box .header {
	text-transform: uppercase;
	font-weight: normal;
	font-size: 19px;
	color: #83B667;
	margin-bottom: 15px;
}



.vpalab_ip_line_default_box .city_box .city_question_box {
	display: none;
	position: absolute;
	z-index: 1009;
	top: 35px;
	background: #fff;
	width: 200px;
	-o-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
	-ms-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
	-khtml-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
	-o-border-radius: 3px;
	-ms-border-radius: 3px;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

.vpalab_ip_line_default_box .city_box {
	position: relative;

}

.vpalab_ip_line_default_box .city_box .city_question_box:before {
	content: "";
	display: block;
	position: absolute;
	top: -24px;
	left: 50%;
	margin-left: -12px;
	width: 0;
	height: 0;
	border: 12px solid;
	border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0.2) rgba(0, 0, 0, 0);
}

.vpalab_ip_line_default_box .city_box .city_question_box .city_question_title_box {
	padding: 15px 10px;
	text-align: center;
}



.vpalab_ip_line_default_box .city_box .city_question_box .btn_box {
	cursor: pointer;
	color: #fff;
	font-weight: bold;
	-o-text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
	-ms-text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
	-moz-text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
	-khtml-text_shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
	-webkit-text_shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}


.vpalab_ip_line_default_box .city_box .city_question_box .btn_box .btn_no {
	float: left;
	width: 50%;
	text-align: center;
	padding: 8px 0;
	border-right: 1px solid #83B667;
	margin-right: -1px;
	background: #9ed261;
	-o-border-radius: 0 0 0 3px;
	-ms-border-radius: 0 0 0 3px;
	-moz-border-radius: 0 0 0 3px;
	-khtml-border-radius: 0 0 0 3px;
	-webkit-border-radius: 0 0 0 3px;
	border-radius: 0 0 0 3px;
}



.vpalab_ip_line_default_box .city_box .city_question_box .btn_box .btn_yes {
	float: right;
	width: 50%;
	text-align: center;
	padding: 8px 0;
	border-left: 1px solid #83B667;
	margin-left: -1px;
	background: #9ed261;
	-o-border-radius: 0 0 3px 0;
	-ms-border-radius: 0 0 3px 0;
	-moz-border-radius: 0 0 3px 0;
	-khtml-border-radius: 0 0 3px 0;
	-webkit-border-radius: 0 0 3px 0;
	border-radius: 0 0 3px 0;
}
.vpalab_ip_line_default_box  {
	text-align: left;

}

.vpalab_ip_line_default-box  .main_box .search_options_box {
	font-size: 0.90em;
	padding-top: 15px;
	padding-bottom: 0;
	padding-left: -10px;
	padding-right: -10px;
	margin: 0 -10px;
}

.vpalab_ip_line_default-box  .main_box .search_options_box .co4 {
	float: left;
	padding: 0 10px;
	width: 33.33%;
}

.vpalab_ip_line_default-box  .search_options_box div.item {
	margin: 0;
	padding: 4px 5px;
	cursor: pointer;
	font-size: 14px;
}

.vpalab_ip_line_default-box  .search_options_box div.item:hover {
	background: #8CDCFC;
	-o-border-radius: 3px;
	-ms-border-radius: 3px;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

.vpalab_ip_line_default-box .search_options_box div.item span {
	border-bottom: 1px dashed black;
}

